<html>
    <head>
        <title>changePassword</title>
        <script src="angular.min.js"></script>
    </head>
    <body>
        <form>

            <table>
                <tr>
                        <td>Password:</td>
                        <td><input type="password" ng-model="password" name="password" required></td>
                </tr>
                <tr>
                    <td>Confirm Password</td>
                    <td><input type="password" ng-model="ConfirmPassword" name="confrimPassword" required></td>
                </tr>
                <tr>
                    <td></td>
                    
                    <td>
                        <button ng-click="submit()">Submit</button>
                    </td>
                </tr>
            </table>
        </form>
        <div ui-view></div>
    </body>
</html>